body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid black;
    width: fit-content;
    padding: 15px;
    margin: auto;
}
h1{
    color:rgb(94, 5, 119)
}
h2{
    font-size: 35px;
    color: rgb(96, 3, 96);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
}
button{
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: purple;
    color: white;
    margin: 10px;
}
#desc{
    font-size: 15px;
    font-style: oblique;
    font-weight: 600;
}
